/* Sidebar scompare a 936px */
@media (max-width: 936px) {
  .sidebar-custom {
    display: none !important;
  }
}

/* Hover per i link di navigazione */
.nav-item.nav-link {
  transition: color 0.3s ease; /* Aggiunta di una transizione per l'hover */
}

.nav-item.nav-link:hover {
  color: white !important; /* Cambia il colore in bianco al passaggio del mouse */
}

/* Bottoni con hover */

.signup-btn:hover {
  background-color: rgb(60, 211, 60);
  color: white;
  border: 1px solid rgb(60, 211, 60);
}

.login-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
}
